:root {
  --color-principal: #333;
  --color-fondo: #f4f4f4;
  --color-texto: #555;
  --color-resaltado: #007bff;
  --fuente-principal: sans-serif;
}

body {
  font-family: var(--fuente-principal);
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

section {
  padding: 60px 20px;
  text-align: center;
}
